@(repo: models.Repository, d: models.RepositoryDescription)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@main(title=repo.name + " (" + repo.id.toString + ")", body_class="repository") {
<div class="row">
    <div class="span3 columns">
        <div class="sidebar">
            @repository.sidebarDetails(d)
            @common.exportActions(repo)
            @repository.adminActions(repo)
        </div>
    </div>
    <div class="span9 columns">
        <h2>
            @d.identity.name
            @if(d.admin.publicationStatus == 0) {
                <span class="label">@Messages("Draft Description")</span>
            }
        </h2>
        @if(d.identity.otherNames.size > 0) {
            <h3 class="alternate-name">
                @d.identity.otherNames.mkString(",")
            </h3>
        }

        @common.descriptionValue(d.description.history, "History")
        @common.descriptionValue(d.description.geoculturalContext, "Geographical and Cultural Context")
        @common.descriptionValue(d.description.mandates, "Mandates")
        @common.descriptionValue(d.description.administrativeStructure, "Administrative Structure")
        @common.descriptionValue(d.description.policies, "Records Management and Collecting Policies")
        @common.descriptionValue(d.description.buildings, "Buildings")
        @common.descriptionValue(d.description.holdings, "Holdings")
        @common.descriptionValue(d.description.findingAids, "Finding Aids")
        <hr />
    </div>
</div>
}
