@(repo: models.Repository, d: models.RepositoryDescription)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@main(title=repo.name + " (" + repo.id.toString + ")", body_class="repository") {
<div class="row">
    <div class="span3 columns">
        <div class="sidebar">
            @repository.sidebarDetails(d)
            @repository.adminActions(repo)(maybeUser, request)
        </div>
    </div>
    <div class="span9 columns">
        <h2>
            @d.identity.name
            @if(d.admin.publicationStatus == 0) {
                <span class="label">@Messages("Draft Description")</span>
            }
        </h2>
        @if(!d.identity.parallelFormsOfName.isEmpty) {
            <h3 class="alternate-name">
                @d.identity.parallelFormsOfName.mkString(",")
            </h3>
        }

        @if(!d.identity.otherFormsOfName.isEmpty) {
            <h3 class="alternate-name">
                @d.identity.otherFormsOfName.mkString(",")
            </h3>
        }

        <div class="section">
            <h3>@Messages("Description Area")</h3>
            @common.descriptionValue(d.description.history, "History")
            @common.descriptionValue(d.description.geoculturalContext, "Geographical and Cultural Context")
            @common.descriptionValue(d.description.mandates, "Mandates")
            @common.descriptionValue(d.description.administrativeStructure, "Administrative Structure")
            @common.descriptionValue(d.description.policies, "Records Management and Collecting Policies")
            @common.descriptionValue(d.description.buildings, "Buildings")
            @common.descriptionValue(d.description.holdings, "Holdings")
            @common.descriptionValue(d.description.findingAids, "Finding Aids")        
        </div>

        <div class="section">
            <h3>@Messages("Access Area")</h3>
            @common.descriptionValue(d.access.openingTimes, "Opening Times")
            @common.descriptionValue(d.access.conditions, "Conditions for Access and Use")
            @common.descriptionValue(d.access.accessibility, "Accessibility")
        </div>
        <div class="section">
            <h3>@Messages("Services Area")</h3>
            @common.descriptionValue(d.services.researchServices, "Research Services")
            @common.descriptionValue(d.services.reproductionServices, "Reproduction Services")
            @common.descriptionValue(d.services.publicAreas, "Public Areas")
        </div>

        <div class="section">
            <h3>@Messages("Control Area")</h3>
            @common.descriptionValue(d.control.descriptionIdentifier, "Description Identifier")
            @common.descriptionValue(d.control.institutionIdentifier, "Institution Identifier")
            @common.descriptionValue(d.control.rules, "Rules")
            @common.descriptionValue(d.control.status, "Status")
        </div>

        <hr />
    </div>
</div>
}
