@(d: models.RepositoryDescription)(implicit maybeUser: Option[models.sql.User], req: RequestHeader)

<div class="repo-logo">
    <a href="{{object.get_absolute_url}}">
        @if(false) {
        <img width="220px" src="{{object.logo.url }}" />
        } else {
        <img width="220px" height="220px" src="@routes.Assets.at("images/repository_placeholder.png")" />
        }
    </a>
</div>

<address class="well">
    <h3>@Messages("Contact details")</h3>
    <p>
    @d.contacts.map { contact =>
        <p>
            @Html(contact.format().replace("\n", "<br />"))
            <br />
            @if(contact.telephone.isDefined) {
                Tel: @contact.telephone.getOrElse("")
                <br />
            }
            @if(contact.fax.isDefined) {
                Fax: @contact.fax.getOrElse("")
                <br />
            }
            @if(contact.email.isDefined) {
                @contact.email.getOrElse("")
            }
        </p>
        <hr />

    }
    </p>
</address>


