@(repo: neo4j.models.Repository, contacts: Seq[neo4j.models.Contact])(implicit req: RequestHeader)

<div class="repo-logo">
    <a href="{{object.get_absolute_url}}">
        @if(false) {
        <img width="220px" src="{{object.logo.url }}" />
        } else {
        <img width="220px" height="220px" src="@routes.Assets.at("images/repository_placeholder.png")" />
        }
    </a>
</div>

<address class="well">
    <h3>@Messages("Contact details")</h3>
    <p>
    @contacts.map { contact =>
        @Html(contact.format().replace("\n", "<br />"))
        <br />
        Tel: @contact.telephone.getOrElse("")
        <br />
        Fax: @contact.fax.getOrElse("")
        <br />
        @contact.email.getOrElse("")
    }
    </p>
</address>


