@(user: models.sql.User, profile: models.UserProfile)(implicit request: RequestHeader)

@main(user.name, body_class="profile") {
<div class="row">
    <div class="span3 columns">

        <div class="sidebar">
        </div>
    </div>
    <div class="span9 columns">
        <h2>@profile.data.name</h2>
        <hr />

        <h4>@Messages("Virtual Collections")</h4>
        @if(!profile.virtualCollections.isEmpty) {
            <ul>
                @profile.virtualCollections.map { vc =>
                <li><a href="@routes.VirtualCollections.detail(vc.id)">@vc.name</a></li>
                }
            </ul>
        } else {
            @Messages("No virtual collections.")
        }
        <a href="@routes.VirtualCollections.new_">@Messages("New Virtual Collection")</a>
    </div>
</div>
}(Some(user), request)
