@(user: models.sql.User, profile: models.UserProfile)(implicit request: RequestHeader)

@main(user.name, body_class="profile") {
<div class="row">
    <div class="span3 columns">
        <div class="admin-actions well">
        <h4>@Messages("Manage your profile")</h4>
        <div class="sidebar">
            <ul class="unstyled">
                <li><a class="btn btn-primary" href="@routes.Users.update">@Messages("Edit Information")</a></li>
                <li><a class="btn btn-primary" href="@routes.VirtualCollections.create">@Messages("New Virtual Collection")</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="span9 columns">
        <h2>@profile.data.name</h2>
        @profile.data.about.map { about =>
            <hr />
            <p>@about</p>
        }
        <hr>

        <h3>@Messages("Virtual Collections")</h3>
        <p>
        @if(!profile.virtualCollections.isEmpty) {
            @profile.virtualCollections.map { vc =>
                <div class="virtual-collection">
                    <h4><a href="@routes.VirtualCollections.detail(vc.id)">@vc.name (@vc.items.length)</a></h4>
                    <p>@vc.description.description</p>
                    <hr />
                </div>
            }
        } else {
            @Messages("No virtual collections.")
        }
        </p>
    </div>
</div>
}(Some(user), request)
