@(user: models.sql.User, profile: models.UserProfile)(implicit request: RequestHeader)

@main(user.name, body_class="profile") {
<div class="row">
    <div class="span3 columns">

        <div class="sidebar">
            <a class="btn btn-primary" href="@routes.VirtualCollections.new_">@Messages("New Virtual Collection")</a>

        </div>
    </div>
    <div class="span9 columns">
        <h2>@profile.data.name</h2>
        <hr />

        <h3>@Messages("Virtual Collections")</h3>
        <p>
        @if(!profile.virtualCollections.isEmpty) {
            @profile.virtualCollections.map { vc =>
                <div class="virtual-collection">
                    <h4><a href="@routes.VirtualCollections.detail(vc.id)">@vc.name (@vc.items.length)</a></h4>
                    <p>@vc.description.description</p>
                    <hr />
                </div>
            }
        } else {
            @Messages("No virtual collections.")
        }
        </p>
    </div>
</div>
}(Some(user), request)
