@(user: models.sql.User, f: Form[models.ProfileData], action: Call, r: models.ProfileData)(implicit request: RequestHeader)

@import app.util.Helpers 

@implicitlocale = @{Helpers.localeFromRequest(request)}
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@baseform("Edit Profile", body_class="profile") {
    <h2>@Messages("Edit Profile")</h2>

    <div class="row">
        <div class="span12 columns">

        @helper.form(action = action, 'class -> "entity-form form-horizontal") {

        <fieldset id="profile-area">
            <legend>@Messages("Profile")</legend>
              @helper.inputText(f("name"), '_label -> Messages("Name"))
              @common.descriptionTextarea(f("about"), Messages("About"))
              @helper.inputText(f("location"), '_label -> Messages("Location"))
              @helper.inputText(f("website"), '_label -> Messages("Website"))

              <div class="control-group">
                  <label for="languages">@Messages("Languages")</label>
                  <div class="controls input">
                      <select class="chzn-select" placeholder="@Messages("Choose languages")" multiple
                          id="languages" name="languages">
                        @Helpers.languageList.map{t =>
                            <option value="@t._1" @(if(r.languages.contains(t._1))
                            "selected" else "")>@t._2</option>
                        }
                      </select>
                  </div>
              </div>
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("Save Profile")</button>
            <a href="@routes.Users.profile" class="btn">@Messages("Cancel")</a>
        </div>
        }
        </div>
    </div>
}(Some(user), request)
