@(cl: models.Collection, c: models.CollectionDescription)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@main(c.identity.name, body_class="collection") {
<div class="row">
    <ul class="breadcrumb">
        @cl.repository.map { repo =>
            <li>
                <a href="@routes.Repositories.detail(repo.slug.getOrElse(""))">@repo.name</a>
            </li>
        }
        @cl.parents.reverse.map { parent =>
            <li>
                <span class="divider">/</span>
                <a href="@routes.Collections.detail(parent.slug.getOrElse(""))">@parent.name</a>
            </li>
        }
    </ul>
    <div class="span3 columns">
        <div class="sidebar">
            @cl.repository.map { repo =>
                <div class="repo-logo">
                    <a href="@routes.Repositories.detail(repo.slug.getOrElse(""))">
                    <div class="logo-placeholder"><h3>@repo.name</h3></div>
                    </a>
                </div>
            }
            @collection.sidebarDetails(c)
            @common.exportActions(cl)
            @common.adminActions(cl)(maybeUser, request)
        </div>
    </div>
    <div class="span9 columns">
        <h2>
            @c.identity.name
            @if(c.admin.publicationStatus == 0) {
                <span class="label">@Messages("Draft Description")</span>
            }
        </h2>
        @if(c.identity.otherNames.size > 0) {
            <h3 class="alternate-name">
                @c.identity.otherNames.mkString(",")
            </h3>
        }

        @if(cl.creators.length > 0) {
            <h4>@Messages("Created By")</h4>
            @cl.creators.map { auth =>
                <p>
                    <a href="@routes.Authorities.detail(slug=auth.slug.get)">@auth.name</a>
                </p>
            }
        }
        
        @common.descriptionValue(c.context.archivalHistory, "Archival History")
        @common.descriptionValue(c.context.administrativeHistory, "Administrative History")
        @common.descriptionValue(c.context.acquisition, "Acquisition")
        
        @common.descriptionValue(c.content.scopeAndContent, "Scope and Content")
        @common.descriptionValue(c.content.appraisal, "Appraisal")
        @common.descriptionValue(c.content.accrurals, "Accrurals")
        @common.descriptionValue(c.content.systemOfArrangement, "Arrangement")

        @common.descriptionValue(c.control.rules, "Rules")
        @common.descriptionValue(c.control.sources, "Sources")
        <hr />

        @if(cl.places.length > 0) {
            <h4>@Messages("Places")</h4>
            <p class="tag-list">
            @cl.places.map { kw =>
                <a href="@routes.Search.list(rtype="search")?tag=@kw.text">@kw.text</a> 
            }
            </p>
        }

        @if(cl.keywords.length > 0) {
            <h4>@Messages("Keywords")</h4>
            <p class="tag-list">
            @cl.keywords.map { kw =>
                <a href="@routes.Search.list(rtype="search")?tag=@kw.text">@kw.text</a> 
            }
            </p>
        }

        @if(cl.children.length > 0) {
            <h4>@Messages("Child Items")</h4>
            <ul class="unstyled">
            @cl.children.map { child =>
                <li>
                    <a href="@routes.Collections.detail(child.slug.getOrElse(""))">@child.name</a>
                </li>    
            }
            </ul>
        }
    </div>
</div>
}
