@(cl: models.Collection, c: models.CollectionDescription)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@main(c.identity.name, body_class="collection") {
<div class="row">
    <div class="span3 columns">
        <div class="sidebar">
            @cl.repository.map { repo =>
                <div class="repo-logo">
                    <a href="@routes.Repositories.detail(repo.slug.getOrElse(""))">
                    <div class="logo-placeholder"><h3>@repo.name</h3></div>
                    </a>
                </div>
            }
            @collection.sidebarDetails(c)
            @common.exportActions(cl)
            @common.adminActions(cl)
        </div>
    </div>
    <div class="span9 columns">
        <h2>
            @c.identity.name
            @if(c.admin.publicationStatus == 0) {
                <span class="label">@Messages("Draft Description")</span>
            }
        </h2>
        @if(c.identity.otherNames.size > 0) {
            <h3 class="alternate-name">
                @c.identity.otherNames.mkString(",")
            </h3>
        }

        @cl.creator.map { auth =>
            <h4>@Messages("Created By")</h4>
            <p>
                <a href="@routes.Authorities.detail(slug=auth.slug.get)">@auth.name</a>
            </p>
        }
        
        @common.descriptionValue(c.context.archivalHistory, "Archival History")
        @common.descriptionValue(c.context.acquisition, "Acquisition")
        
        @common.descriptionValue(c.content.scopeAndContent, "Scope and Content")
        @common.descriptionValue(c.content.appraisal, "Appraisal")
        @common.descriptionValue(c.content.accrurals, "Accrurals")
        @common.descriptionValue(c.content.systemOfArrangement, "Arrangement")

        @common.descriptionValue(c.control.rules, "Rules")
        @common.descriptionValue(c.control.sources, "Sources")
        <hr />
    </div>
</div>
}
