@(f: Form[models.CollectionDescription], action: Call, c: Option[models.Collection] = None)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@import app.util.Helpers 

@implicitlocale = @{Helpers.localeFromRequest(request)}
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@baseform("Edit Collection", body_class="collection scrollspy") {
<h2>@c.map(_.name).getOrElse(Messages("Create Collection"))</h2>

<div class="subnav">
    <ul class="nav nav-pills">
        <li><a href="#identity-area">@Messages("Identity")</a></li>
        <li><a href="#context-area">@Messages("Context")</a></li>
        <li><a href="#content-area">@Messages("Content and Structure")</a></li>
        <li><a href="#access-area">@Messages("Conditions of Access and Use")</a></li>
        <li><a href="#materials-area">@Messages("Allied Materials")</a></li>
        <li><a href="#notes-area">@Messages("Notes")</a></li>
        <li><a href="#control-area">@Messages("Control")</a></li>
        <li><a href="#admin-area">@Messages("Administration")</a></li>
    </ul>
</div>

<div class="row">
    <div class="span12 columns">

    @helper.form(action = action, 'class -> "entity-form form-horizontal") {

    <fieldset id="identity-area">
        <legend>@Messages("Identity")</legend>
        @helper.inputText(f("identity.identifier"), '_label -> "Identifier")
        @helper.inputText(f("identity.name"), '_label -> "Title")

        <div class="control-group">
            <label class="control-label">@Messages("Dates")</label>
            @helper.repeat(f("identity.dates"), min = f("identity.dates").indexes.length + 1) { date =>
            <div class="controls stacked-multi" id="@{date.id}_field">
                <p>
                @defining(date("startDate")) { field =>
                <input placeholder="@Messages("From")" class="input-small" type="date" id="@field.id" name="@field.name" value="@field.value" />
                }
                @defining(date("endDate")) { field =>
                <input placeholder="@Messages("To")" class="input-small" type="date" id="@field.id" name="@field.name" value="@field.value" />
                }
                </p>
            </div>
            }
        </div>

        @common.descriptionChoice(f("identity.levelOfDescription"), models.LevelOfDescription, "Level of Description", blank=true)
        @common.descriptionTextarea(f("identity.extentAndMedium"), "Extent and Medium")

    </fieldset>

    <fieldset id="context-area">
        <legend>@Messages("Context")</legend>
          @*common.descriptionTextarea(f("creator"), "creator")                            *@
          @*common.descriptionTextarea(f("repository"), "repository")                         *@
          @common.descriptionTextarea(f("context.archivalHistory"), "Archival History")
          @common.descriptionTextarea(f("context.acquisition"), "Immediate Source of Acquisition or Transfer")
    </fieldset>

    <fieldset id="content-area">
        <legend>@Messages("Content and Structure")</legend>
          @common.descriptionTextarea(f("content.scopeAndContent"), "Scope and Content")
          @common.descriptionTextarea(f("content.appraisal"), "Appraisal")
          @common.descriptionTextarea(f("content.accruals"), "Accruals")
          @common.descriptionTextarea(f("content.systemOfArrangement"), "System of Arrangement")
    </fieldset>

    <fieldset id="access-area">
        <legend>@Messages("Conditions of Access and Use")</legend>
          @common.descriptionTextarea(f("conditions.conditionsOfAccess"), "Conditions of Access")
          @common.descriptionTextarea(f("conditions.conditionsOfReproduction"), "Conditions of Reproduction")
          @*common.descriptionTextarea(f("conditions.languages"), "Languages")*@

          <div class="control-group">
              <label class="control-label" for="conditions_languages">@Messages("Languages")</label>
              <div class="controls input">
                  <select class="chzn-select" placeholder="@Messages("Choose languages")" multiple id="conditions_languages" name="conditions.languages">
                    @Helpers.languageList.map{t =>
                        <option value="@t._1" @(if(c.map(_.description.conditions.languages).getOrElse(List()).contains(t._1))
                        "selected" else "")>@t._2</option>
                    }
                  </select>
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="conditions_scripts">@Messages("Scripts")</label>
              <div class="controls input">
                  <select class="chzn-select" placeholder="@Messages("Choose scripts")" multiple id="conditions_scripts"
                      name="conditions.scripts">
                    @Helpers.scriptList.map{t =>
                        <option value="@t._1" @(if(c.map(_.description.conditions.scripts).getOrElse(List()).contains(t._1))
                        "selected" else "")>@t._2</option>
                    }
                  </select>
              </div>
          </div>


          @common.descriptionTextarea(f("conditions.physicalCharacteristics"), "Physical Characteristics") 
          @common.descriptionTextarea(f("conditions.findingAids"), "Finding Aids")
    </fieldset>

    <fieldset id="materials-area">
        <legend>@Messages("Allied Material")</legend>
          @common.descriptionTextarea(f("materials.locationOfOriginals"), "Location of Originals")
          @common.descriptionTextarea(f("materials.locationOfCopies"), "Location of Copies")
          @common.descriptionTextarea(f("materials.relatedUnitsOfDescription"), "Related Units of Description")
          @*common.descriptionTextarea(f("materials.publicationNotes"), "publication_notes") *@
    </fieldset>

    <fieldset id="notes-area">
        <legend>@Messages("Notes")</legend>
          @*common.descriptionTextarea(f("notes"), "notes")    *@
    </fieldset>

    <fieldset id="control-area">
        <legend>@Messages("Control")</legend>
          @*common.descriptionTextarea(f("description_identifier"), "Description Identifier")   *@
          @*common.descriptionTextarea(f("institution_identifier"), "Institution Identifier")     *@
          @common.descriptionTextarea(f("control.rules"), "Rules")

          <div class="control-group">
              <label class="control-label" for="cotrol_languagesOfDescription">@Messages("Languages of Description")</label>
              <div class="controls input">
                  <select class="chzn-select" placeholder="@Messages("Choose languages")" multiple
                      id="control_languagesOfDescription" name="control.languagesOfDescription">
                    @Helpers.languageList.map{t =>
                        <option value="@t._1" @(if(c.map(_.description.control.languagesOfDescription).getOrElse(List()).contains(t._1))
                        "selected" else "")>@t._2</option>
                    }
                  </select>
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="control_scriptsOfDescription">@Messages("Scripts of Description")</label>
              <div class="controls input">
                  <select class="chzn-select" placeholder="@Messages("Choose scripts")" multiple
                      id="control_scriptsOfDescription"
                      name="control.scriptsOfDescription">
                    @Helpers.scriptList.map{t =>
                        <option value="@t._1" @(if(c.map(_.description.control.scriptsOfDescription).getOrElse(List()).contains(t._1))
                        "selected" else "")>@t._2</option>
                    }
                  </select>
              </div>
          </div>
          
          @common.descriptionTextarea(f("control.sources"), "Sources")
    </fieldset>

    <fieldset id="admin-area">
        <legend>@Messages("Administration")</legend>
        @common.descriptionChoice(f("admin.publicationStatus"), models.PublicationStatus, "Publication Status")
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@Messages(c.map(s => "Update Collection").getOrElse("Create Collection"))</button>
        <a href="@c.map(_.detailUrl).getOrElse(routes.Search.list("collections"))" class="btn">@Messages("Cancel")</a>
    </div>
    }
    
    </div>
</div>
}
