@(c: neo4j.models.Collection, dates: Seq[neo4j.models.FuzzyDate])(implicit req: RequestHeader)

<table class="table table-striped well">
    @if(!c.identity.identifier.isEmpty) {
        <tr>
            <td>
                <h5>@Messages("Local ID")</h5>
            </td>
            <td>
                @c.identity.identifier
            </td>
        </tr>
    }
    @if(dates.length > 0) {    
        <tr>
            <td>
                <h5>@Messages("Dates")</h5>
            </td>
            <td>
                @dates.map(_.toString).mkString(", ")
            </td>
        </tr>
    }
    @if(c.conditions.languages.length > 0) {
        <tr>
            <td colspan="2">
                <h5>@Messages("Languages:")</h5>
                @c.conditions.languages.map { lang =>
                    <br />
                    @lang
                }
            </td>
        </tr>
    }
    @if(c.conditions.scripts.length > 0) {
        <tr>
            <td colspan="2">
                <h5>@Messages("Scripts:")</h5>
                @c.conditions.scripts.map { script =>
                    <br />
                    @script
                }
            </td>
        </tr>
    }
    @if(!c.identity.extentAndMedium.getOrElse("").isEmpty) {
        <tr>
            <td>
                <h5>@Messages("Extent:")</h5>
            </td>
            <td>@c.identity.extentAndMedium.getOrElse("")</td>
        </tr>
    }
</table>



