@(user: models.sql.User, item: Long, vc: Long, action: Call)(implicit request: RequestHeader)

@* This template is a placeholder for an action that will mainly be performed via Ajax *@

@main(Messages("Save Item")) {

    <div class="row">
        <div class="span12 columns">
            <h2>@Messages("Save Item: ") @item to @{vc}?</h2>
            
            <form method="POST" action="@action" class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("Yes, save it!")</button>
            </form>
        </div>
    </div>
}(Some(user), request)

