@(auth: neo4j.models.Authority, data: neo4j.models.AuthorityData, created: Seq[neo4j.models.Collection], mentioned:
Seq[neo4j.models.Collection])(implicit request: RequestHeader)

@main(data.name + " (" + auth.id.getOrElse(0).toString + ")") {
<div class="row">
    <div class="span3 columns">

        <div class="sidebar">
            @authority.sidebarDetails(data)
            <div class="export-actions well">
                <h4>@Messages("Export Resource")</h4>
                <ul class="unstyled">
                    <li>
                        <a class="export-link" title="@Messages("Export description as XML")" target="_blank"  
                            href="{% url api_dispatch_detail slug=data.slug resource_name=data.resource_type api_name="v1" %}?format=xml" />XML</a>
                   </li>
                    <li>
                    <a class="export-link" title="@Messages("Export description as JSON")" target="_blank" 
                            href="{% url api_dispatch_detail slug=data.slug resource_name=data.resource_type api_name="v1" %}?format=json" />JSON</a>
                   </li>
                </ul>
            </div>
            @if(true) { 
                <div class="admin-actions well">
                    <h4>@Messages("Administration Actions")</h4>
                    <ul class="unstyled">
                        <li><a class="btn" target="_blank"
                            href="http://localhost:7474/webadmin/#/data/search/@auth.id.getOrElse(0)">@Messages("Edit Description")</a></li>
                        <li><a class="btn btn-danger" href="{{data.get_delete_url}}">@Messages("Delete")</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="span9 columns">
        <h2>
            @data.name
            @if(data.publication_status == 0) {
                <span class="label">@Messages("Draft Description")</span>
            }
        </h2>
        @if(data.otherNames.size > 0) {
            <h3 class="alternate-name">
                @data.otherNames.mkString(",")
            </h3>
        }

        @if(!data.dates_of_existence.getOrElse("").isEmpty) {
            <h4>@Messages("Dates of Existence")</h4>
            <p>@data.dates_of_existence</p>
        }
        @if(!data.history.getOrElse("").isEmpty) {
            <h4>@Messages("History")</h4>
            <p>@data.history</p>
        }
        <hr />
        @if(created.length > 0) {
            <h4>@Messages("Collections as Creator")</h4>
            @created.map { c =>
                <a href="@routes.Gremlin.collectionDetail(slug=c.data.slug)">@c.data.name</a>
            }
        }
        @if(mentioned.length > 0) {
            <h4>@Messages("Collections as Name Access Point")</h4>
            @mentioned.map { c =>
                <a href="@routes.Gremlin.collectionDetail(slug=c.data.slug)">@c.data.name</a>
            }
        }
    </div>
</div>
}
