@(
title: String = "Welcome to EHRI", body_class: String = "")(
content: => Html = Html(""),
extra_body: => Html = Html(""),
footer: => Html = Html("")
)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@import app.util.Helpers 

@implicitlocale = @{Helpers.localeFromRequest(request)}
@implicitlang = @{request.acceptLanguages.head}

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@main(title, body_class) {
    <script src="@routes.Assets.at("javascripts/subnav.js")"></script>

    @content
}
