@(c: neo4j.models.Collection, data: neo4j.models.CollectionData, dates: Seq[neo4j.models.FuzzyDate], repodata:
neo4j.models.RepositoryData, creator: Option[neo4j.models.Authority])(implicit request: RequestHeader)

@main(data.name + " (" + c.id.getOrElse(0).toString + ")", body_class="collection") {
<div class="row">
    <div class="span3 columns">

        <div class="sidebar">
            @collection.sidebarDetails(data, dates)
            @common.exportActions(c)
            @common.adminActions(c)
        </div>
    </div>
    <div class="span9 columns">
        <h2>
            @data.name
            @if(data.publication_status == 0) {
                <span class="label">@Messages("Draft Description")</span>
            }
        </h2>
        @if(data.otherNames.size > 0) {
            <h3 class="alternate-name">
                @data.otherNames.mkString(",")
            </h3>
        }

        @if(!creator.isEmpty) {
            <h4>@Messages("Created By")</h4>
            <p>
                @creator.map { auth =>
                    <a href="@routes.Gremlin.authorityDetail(slug=auth.data.slug)">@auth.data.name</a>
                }
            </p>
        }
        
        @common.descriptionValue(data.scope_and_content, "Scope and Content")
        @common.descriptionValue(data.history, "History")
        @common.descriptionValue(data.acquisition, "Acquisition")
        @common.descriptionValue(data.arrangement, "Arrangement")
        @common.descriptionValue(data.sources, "Sources")
        <hr />
    </div>
</div>
}
