@(desc: app.models.Neo4jDescription)(implicit request: RequestHeader)


@mainContent("Description: " + desc.name) {

    <h1>@desc.name</h1>

    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>Attribute</th><th>Value</th>
        </tr>
        <tr>
            <td>Id</td><td>@desc.identifier</td>
        </tr>
        <tr>
            <td>Slug</td><td>@desc.slug</td>
        </tr>
    </table>

    <div class="form-actions">
        <a href="@routes.Neo4jDescription.create" class="btn">New</a>
        <a href="@routes.Neo4jDescription.update(slug=desc.slug)" class="btn">Edit</a>
    </div>
}


