@(form: Form[app.models.Neo4jDescription], action: Call)(implicit request: RequestHeader)

@import helper.twitterBootstrap._

@mainContent("Create Neo4j Description") {
    @helper.form(action = action) {
    @helper.inputText(form("identifier"), '_label -> "Identifier")
    @helper.inputText(form("slug"), '_label -> "Slug")
    @helper.inputText(form("name"), '_label -> "Title")
    @helper.repeat(form("otherNames"), min = 2) { on =>
        @helper.inputText(on)
    }
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("Create")</button>
            <a href="@routes.Search.list("collection")" class="btn">@Messages("Cancel")</a>
        </div>
    }
}
