@(action: Call)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@main(Messages("Welcome to EHRI"), body_class="home") {
    
<div class="container-fluid">
    <form id="search-form" action="@action" method="get">
        <div class="row-fluid">
            <div class="span12 columns">
                <center>
                    <h1 class="banner">@Messages("Welcome to EHRI")</h1>
                    <div class="controls">
                        <div class="input-append">
                            <input name="q" class="span5" style="font-size:1.3em;" type="text" />
                            <input class="btn" type="submit" value="Search Collections" />
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </form>
</div>    
}

