@(rtype: String, currentPage: solr.models.Page[solr.models.Description],
query: String, order: solr.models.SearchOrder.Order, field: solr.models.SearchField.Field
)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@import views.Helpers._

@main("Descriptions", body_class=rtype) {
    @defining(maybeUser.flatMap(_.profile.map(_.virtualCollections.flatMap(_.items).map(_.item.id))).getOrElse(Nil)) { savedItemList =>
    
        <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3 columns">
                        <div class="search-sidebar">
                            <div class="search-sidebar-heading">
                            </div>                        
                                <h2>@Messages("Search")</h2>
                                @common.facetList(rtype, request, currentPage.facets)
                                 &nbsp;
                        </div>
                    </div>
                    <div class="span9 columns">
                        <form id="search-form form-horizontal" method="get">
                            <div class="control-group">                            
                                <div class="input-append">
                                        <input type="text" name="q" id="id_q" value="@query" class="span5" />
                                        <select name="field" id="id_field" class="span2">
                                            @solr.models.SearchField.values.toList.map { value =>
                                            <option value="@value.id"
                                            @if(value==field){selected}>@Messages(value.toString.capitalize)</option>
                                            }
                                        </select>
                                        <select name="order" id="id_order" class="span2">
                                            @solr.models.SearchOrder.values.toList.map { value =>
                                            <option value="@value.id"
                                                @if(value==order){selected}>@Messages(value.toString.capitalize)</option>
                                            }
                                        </select>
                                        <input class="btn" type="submit" value="@Messages("Search")" />
                                    </div>
                            </div>
                            <!-- facets go here -->
                            @common.selectedFacets(currentPage)
                        </form>

                        <h3 id="result-summary">
                        @if(currentPage.total > 0) {
                            <span>@currentPage.total</span> @Messages("Result" + currentPage.total.pluralize)
                            @if(!query.trim.isEmpty) {
                                &nbsp;for <i>@query</i>
                            }
                        } else {
                            @if(!query.trim.isEmpty) {
                                @Messages("Nothing found for") <i id="result-query">@query</i>
                                @* TODO: Insert spelling suggestions. *@
                            }
                        }
                        </h3>

                        @if(currentPage.items) {
                            <div class="result-list">
                                @currentPage.items.map{result =>
                                    @common.searchResult(result, maybeUser, savedItemList)
                                }
                            </div>
                            @common.paginate(currentPage)(request)
                        } else {
                            &nbsp;
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>    
    }
}

