@(rtype: String, currentPage: solr.models.Page[solr.models.Description],
currentOrderBy: Int, currentFilter: String
)(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@main("Descriptions", body_class=rtype) {
    @defining(maybeUser.flatMap(_.profile.map(_.virtualCollections.flatMap(_.items).map(_.item.id))).getOrElse(Nil)) { savedItemList =>
    
        <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3 columns">
                        <div class="search-sidebar">
                            <div class="search-sidebar-heading">
                            </div>                        
                                <h2>@Messages("Search")</h2>
                                @common.facetList(rtype, request, currentPage.facets)
                                 &nbsp;
                        </div>
                    </div>
                    <div class="span9 columns">
                        <form id="search-form form-horizontal" method="get">
                            <div class="control-group">                            
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" name="q" id="id_q" value="@currentFilter" class="span5" />
                                        <button class="btn" type="submit">@Messages("Search")</button>
                                    </div>
                                </div>
                            </div>
                            <!-- facets go here -->
                            @* include "_selected_facets.html" *@
                            @common.selectedFacets(currentPage)
                        </form>
                        <h3 id="result-summary"><!-- TODO: Summary --></h3>
                        @if(currentPage.items) {
                            <div class="result-list">
                                @currentPage.items.map{result =>
                                    @common.searchResult(result, maybeUser, savedItemList)
                                }
                                @common.paginate(rtype, currentPage.items, currentPage, currentOrderBy, currentFilter)
                            </div>
                        } else {
                            &nbsp;
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>    
    }
}

