@(implicit maybeUser: Option[models.sql.User], request: RequestHeader)
<ul class="nav pull-right">
    @maybeUser.map { user =>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @user.name
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                @if(user.isStaff) {
                    <li><a href="{% url admin:index %}"><i class="icon-cog"></i> Admin</a></li>
                }
                <li class="divider"></li>
                <li><a href="@routes.Application.logout"><i class="icon-off"></i>Log out</a></li>
            </ul>
        </li>
    }.getOrElse {
        <li><a href="@routes.Application.login">Log in</a></li>
        <li class="navbar-text">or</li>
        <li><a href="@routes.Application.signup">Sign up</a></li>
    }
</ul>
