@(entity: {def id: Long; def deleteUrl: Call; def editUrl: Call})(implicit maybeUser: Option[models.sql.User], req: RequestHeader)

@maybeUser.map { user =>
<div class="admin-actions well">
    <h4>@Messages("Administration Actions")</h4>
    <ul class="unstyled">
        <li><a class="btn" href="@entity.editUrl">@Messages("Edit Description")</a></li>
        <li><a class="btn" target="_blank"
            href="/webadmin/#/data/search/@entity.id">@Messages("Edit with Neo4j")</a></li>
        <li><a class="btn btn-danger" href="@entity.deleteUrl">@Messages("Delete")</a></li>
    </ul>
</div>
}
