@(resource: String, items: Seq[solr.models.Description], currentPage: solr.models.Page[solr.models.Description], currentOrderBy: Int, currentFilter:String)

@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Search.list(resource, newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

<div id="pagination" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
            <li class="prev">
                <a href="@link(page)">&larr; Previous</a>
            </li> 
        }.getOrElse {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
        }
        <li class="current">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + items.size) of @currentPage.total</a>
        </li>
        @currentPage.next.map { page =>
            <li class="next">
                <a href="@link(page)">Next &rarr;</a>
            </li> 
        }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
        }
    </ul>
</div>
