@(currentPage: solr.models.ItemPage[_])(implicit req: RequestHeader) 

@import solr.facet.Utils

<div id="pagination" class="pagination">
    <ul>
        @views.Helpers.paginationRanges(currentPage.page.toInt, currentPage.numPages.toInt).map { range =>
            @range.map { page =>
                @if(page == currentPage.page) {
                    <li class="disabled"><a>@page</a></li>
                } else {
                    <li><a href="@Utils.joinPath(req.path, req.queryString.updated("page", Seq(page.toString)))">@page</a></li>
                }
            }
            @if(range.last != currentPage.numPages) {
            <li class="disabled"><a>...</a></li>
            }
        }
    </ul>
</div>
