@(profile: UserProfile, result: solr.models.Description, savedItems: List[Long])

<div class="bookmark-controls" data-item="@result.id">
    <a class="show-save-item-list" href="#">
    @if(savedItems.contains(result.id.toLong)) {
        <i class="icon-star"></i>
    } else {
        <i class="icon-bookmark"></i>
    }
    </a>

    <div class="save-item-list">
        <h4>Save item</h4>
        <p>
        <ul>
            @profile.virtualCollections.map { vc =>
            <li>
                <a class="save-item" href="@routes.VirtualCollections.saveItem(result.id.toLong, vc.id)">@vc.name</a>
            </li>
            }   
        </ul>
        </p>
        <form class="stash-new-collection-form form-horizontal" action="@routes.VirtualCollections.saveItemToNew(result.id.toLong)" method="POST">
            <div class="input-append">
                <input placeholder="@Messages("Save to new collection...")" class="span8" name="name" type="text" />
                <input type="submit" class="btn btn-small" value="@Messages("Save")" />
            </div>
        </form>
    </div>
</div>

