@(result: solr.models.Description)

<div class="search-result@if(result.publication_status == 0) { draft }">
    @if(result.django_ct == "portal.repository") {
        <h4><a href="@routes.Repositories.detail(slug=result.slug)">@result.name</a></h4>
    } else {
        @if(result.django_ct == "portal.collection") {
        <h4><a href="@routes.Collections.detail(slug=result.slug)">@result.name</a></h4>
        } else {
        <h4><a href="@routes.Authorities.detail(slug=result.slug)">@result.name</a></h4>
        }
    }
    @if(result.other_names.nonEmpty) {
        <h5 class="alternate-names">@result.other_names.mkString(", ")</h5>
    }
    <p>
        @if(result.publication_status == 0) {
            <span class="label">@Messages("Draft")</span>
        }
        @{result.django_ct match {
        case "portal.repository" =>
            result.asInstanceOf[solr.models.Repository].description.slice(0, 200)
        case "portal.authority" =>
            result.asInstanceOf[solr.models.Authority].history.slice(0, 200)
        case "portal.collection" =>
            result.asInstanceOf[solr.models.Collection].description.slice(0, 200)
        }}
    </p>
</div>

