@(result: solr.models.Description, maybeUser: Option[models.sql.User])

<div class="search-result@if(result.publication_status == 0) { draft }" data-slug="@result.slug">
    @if(result.django_ct == "portal.repository") {
        <h4><a href="@routes.Repositories.detail(slug=result.slug)">@result.name</a></h4>
    } else {
        @if(result.django_ct == "portal.collection") {
        <h4><a href="@routes.Collections.detail(slug=result.slug)">@result.name</a></h4>
        } else {
        <h4><a href="@routes.Authorities.detail(slug=result.slug)">@result.name</a></h4>
        }
    }
    @if(result.other_names.nonEmpty) {
        <h5 class="alternate-names">@result.other_names.mkString(", ")</h5>
    }
    <p>
        @if(result.publication_status == 0) {
            <span class="label">@Messages("Draft")</span>
        }
        @{result.django_ct match {
        case "portal.repository" =>
            result.asInstanceOf[solr.models.Repository].description.slice(0, 200)
        case "portal.authority" =>
            result.asInstanceOf[solr.models.Authority].history.slice(0, 200)
        case "portal.collection" =>
            result.asInstanceOf[solr.models.Collection].description.slice(0, 200)
        }}
    </p>
    @maybeUser.map { user =>
        @user.profile.map { profile =>
            <a class="show-save-item-list" href="#">
            @if(profile.virtualCollections.flatMap(_.items).map(_.id).contains(result.id.toLong)) {
                <i class="icon-star"></i>
            } else {
                <i class="icon-bookmark"></i>
            }
            </a>

            <div class="save-item-list">
                <h4>Save item</h4>
                <ul>
                    @profile.virtualCollections.map { vc =>
                    <li>
                        <a class="save-item ajax" href="@routes.VirtualCollections.saveItem(result.id.toLong, vc.id)">@vc.name</a>
                    </li>
                    }   
                </ul>
            </div>
        }
    }
</div>

