@(auth: models.Authority, d: models.AuthorityDescription, created: Seq[models.Collection], mentioned:
Seq[models.Collection])(implicit maybeUser: Option[models.sql.User], request: RequestHeader)

@main(auth.name + " (" + auth.id.toString + ")", body_class="authority") {
<div class="row">
    <div class="span3 columns">

        <div class="sidebar">
            @authority.sidebarDetails(d)
            @common.exportActions(auth)
            @common.adminActions(auth)(maybeUser, request)
        </div>
    </div>
    <div class="span9 columns">
        <h2>
            @d.identity.name
            @if(d.admin.publicationStatus == 0) {
                <span class="label">@Messages("Draft Description")</span>
            }
        </h2>
        @if(d.identity.otherNames.size > 0) {
            <h3 class="alternate-name">
                @d.identity.otherNames.mkString(",")
            </h3>
        }
        @common.descriptionValue(d.description.datesOfExistence, "Dates of Existence")
        @common.descriptionValue(d.description.history, "History")
        @common.descriptionValue(d.description.places, "Places")
        @common.descriptionValue(d.description.functions, "Functions")
        @common.descriptionValue(d.description.geneology, "Geneology")
        @common.descriptionValue(d.description.generalContext, "General Context")
        <hr />
        @collection.collectionList(created, "Collections as Creator")
        @collection.collectionList(mentioned, "Collections as Name Access Point")
    </div>
</div>
}
